doctype html
html
  head
    title My Web App
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    nav.navbar.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href="/") Intro to TypeScript
        ul.nav.navbar
          li
            a.navbar-brand(href="/models") Models
    .container.top-margin
      .row
        .col-lg-12.text-center
          h2 Using Models and OOP
          .fixed-box#fixed-box.models
            form(action="submit-model" method="POST")
              .centered-form-group
                .small-box
                  .form-group
                    label(for="animal") Select an Animal: 
                    select(name="animal" id="animal")
                      option(value="dog") Dog
                      option(value="cat") Cat
                    button(type="submit").btn.btn-primary Submit
      .row
        .col-lg-12
          if(url) 
            ul
              li #{name}
              li #{age}
              li Speak! "#{speak}"
    footer.footer
      .container
        span.text-muted &copy; James Earle 2017
script.
  document.getElementById("fixed-box").style.backgroundImage = "url(#{url})";
